* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    width: 100px;
}

header {
    background-color: #5D4037;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .9);
}

#servicos {
    background-color: #795548;
}

.img1 {
    width: 255px;
    height: 198px;
}

#quem-somos {
    background-color: #D7CCC8;
}

footer {
    background-color: #5D4037;
}

.fixedheightimg img {
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}